{% extends 'reservation/admin_base.html' %}
{% load reservation_request_filters %}
{% load static %}
{% block content %}
<div class="container">
    <div class="ml-auto">
        <!--logout button when clicked will log user out and redirect them to reservation_info-->
        <form action="{% url 'logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
    </div>
    <!--each card holds a single reservation request from the database-->
    <h2 class = 'mb-3'>Reservation Requests</h2>
    {% for req in reservation_requests %}
        <div class="card mb-3 shadow-sm">
            <div clasd="card-body">
                <h5 class="card-title"><strong>Name:</strong> {{ req.user.first_name }} {{ req.user.last_name  }}<h/5>
            <p class="'card-text">
                <strong>Age:</strong> {{ req.user.age }}<br>
                <strong>Email:</strong> {{ req.user.email }}<br>
                <strong>Phone:</strong> {{ req.user.phone_number }}<br>
                <strong>Date:</strong> {{ req.date }}<br>
                <strong>Duration:</strong> {{ req.duration }} hour{{ req.duration|pluralize:"s" }}<br>      
                <strong>Party Size:</strong> {{ req.party_size }}<br>
                <strong>Boats:</strong>
                <ul>
                    <li>Canoes: {{ req|get_boat_count:"Canoe" }}</li>
                    <li>Kayaks: {{ req|get_boat_count:"Kayak" }}</li>
                    <li>Paddle Boards: {{ req|get_boat_count:"Paddle Board" }}</li>
                </ul>
            </div>
            <div class="card-footer d flex justify content-end">
                <div style="display: inline-block;">
                    <!--email button opens users preffered email application to email client easily-->
                    <a href="mailto:{{req.user.email}}?subject=Made-Up Boathouse reservation request" class="btn btn-primary me-2">Email</a>
                </div>
                <div style="display: inline-block;">
                    <!-- deletes with use of button from both the database and the admin_reservation_list-->
                    <form action="/delete_reservation" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="user_id" value="{{ req.user.id }}">
                        <button class="btn btn-danger">Delete</button>  
                    </form>
                </div>
            </div>
        </div>
    {% empty %}
    <!--Message that will display if there are not any reservation request-->
        <li>No Upcoming Reservation Requests.</li>
    {% endfor %}
{% endblock %}