{% extends 'reservation/base.html'%}
{% load static %}
{% block title %} Reservation Information {% endblock %}
{% block content %}
    <div class='info-text'>
            <div class="info-text">
                <div>
                    <h1 class = 'boathouse-header'>Welcome to Made-Up Lake Boathouse</h>
                    <p class=  'boathouse-content'>
                           
                    </p>
                    <h2 class="reservation-header">Watercraft Reservation</h2>
                    <p class="reservation-content">
                        Our rentals include Kayaks, Canoes and Paddleboards. Rentals are for 1 or 2 hour slots. Rentals are <strong>$10.00</strong> an hour. Your rental includes life vests. Please note that children must wear a provided life vest at all times while on the water. 
                    </p>
                </div> 
                <!---Button for reservation request-->     
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Request a Reservation
                </button>
            </div>
        </div>
        <!--reservation form modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Request Your Reservation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if error %}
                        <p style="color: red; font-weight: bold;">{{ error }}</p>
                    {% endif %}
                    <form method="post" action="{% url 'add_reservation_request' %}">
                        {% csrf_token %}
                        {{ reservation_request_form }}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>    
            </div>
            </div>
        </div>
       
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            if (document.querySelector('#exampleModal .errorlist')){
                var myModal = new bootstrap.Modal(document.getElementById("exampleModal"));
                myModal.show();
            }
        });
    </script>

{% endblock %}
